/* Main body */
html, body {
  height: 100%;
  margin: 0; padding: 0;
}
body {
  background: #080010;
  color: white;
}

/* Layout */
main {
	display: flex;
  align-items: stretch;
  height: 100%;
  overflow: hidden;
}

main > .editor {
  flex: 2;
}

main > .sidebar {
  flex: 1;

  display: flex;
  flex-direction: column;
}

main > .sidebar > * {
  background: #112;
  margin: 0.5em;
  padding: 0.5em 0.75em;
  border: 1px solid #225;
}

/* Codemirror */
.CodeMirror {
  height: 100%;
}
.cm-s-night .CodeMirror-gutters {
  background: #00000a;
  border-right: 1px solid #100040;
}
.cm-s-night .CodeMirror-linenumber {
    color: #669;
}

/* Sidebar */
.sidebar > .logs {
  font-family: monospace;
  line-height: 1.5;
  font-size: 8pt;
  overflow-y: auto;
}
.sidebar > .logs > * {
  white-space: pre-wrap;
  margin-bottom: .5em;
}
.sidebar > .logs .error {
  color: #f22;
}
.sidebar > .logs .notice {
  color: yellow;
}

/* PixelSprite preview */
.pspreview {
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: crisp-edges;
}
