body {
  background: black;
}

canvas {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

.tool-palette,
.color-palette {
  position: absolute;
  top: 0;
  width: 12vmin;
  height: 100vh;

  display: flex;
  flex-direction: column;
}

.tool-palette button,
.color-palette button {
	flex: 1;
	background: transparent;
  padding: 0;
	border: .2em solid white;
  transition: all .2s ease;

  color: black;
	font-size: 3vw;
	font-weight: bold;
	text-shadow: .075em .075em white, -.075em -.075em white,-.075em .075em white, .075em -.075em white, 0 -.075em white, 0 .075em white, -.075em 0 white, .075em 0 white;
	-webkit-text-stroke: .01em white;
}

.tool-palette button:active,
.color-palette button:active {
  border-color: black;
}

.tool-palette button.current {
  background: #06d;
}

@media (min-aspect-ratio: 4/3) {
  .tool-palette button {
    text-orientation: upright;
    writing-mode: vertical-lr;
    font-size: 3vh;
  }
}


.tool-palette {
  left: 0;
}

.tool-palette button {
	background: #0cf;
	margin-bottom: .2em;
}
.tool-palette button:active {
  background-color: white;
}

.color-palette {
  right: 0;
  background: green;
}



body, main {
  margin: 0;
  padding: 0;

  overflow:  hidden;
}

main {
  width: 100vw;
  height: 100vh;
}

.artboard {
  --artboard-w: 72vmin;
  --artboard-h: 72vmin;

  width: var(--artboard-w);
  height: var(--artboard-h);

  border: 1px solid purple;

  display: flex;
  flex-wrap: wrap;

  margin-left: calc(50vw - var(--artboard-w) / 2);
  margin-top: calc((100vh - var(--artboard-h)) / 2);
}
@media (min-aspect-ratio: 4/3) {
  .artboard {
    --artboard-w: 96vh;
    --artboard-h: 96vh;
  }
}

.artboard canvas {
  --cw: 8;
  --ch: 8;
  --canvas-cell-w: calc((var(--artboard-w) - 10vmin) / var(--cw));
  --canvas-cell-h: calc((var(--artboard-h) - 10vmin) / var(--ch));
}

.artboard canvas {
	flex: none;
	width: calc(var(--artboard-w) - 10vmin);
	height: calc(var(--artboard-w) * var(--ch) / var(--cw) - 10vmin);

  border: medium solid rgba(100,100,100,.5);
  border-width: calc(( var(--artboard-h) - 10vmin - var(--canvas-cell-h) * var(--ch)) / 2) calc((var(--artboard-w) - 10vmin - var(--canvas-cell-w) * var(--cw)) / 2);
}

.sizing {
  display: flex;
}
.sizing.x {
  width: 10vmin;
  flex-direction: column;
}
.sizing.y {
  height: 10vmin;
  width: calc(var(--artboard-w) - 10vmin);
}
.sizing.corner {
  width: 10vmin;
  height: 10vmin;
}

.artboard button {
  margin: 0;
  padding: 0;
  flex: 1;
  background: none;
  border: none;
  color: white;
  font-size: 4vmin;
}
.artboard button:hover,
.artboard button:active,
.artboard button:focus {
  background: rebeccapurple;
}



.artboard canvas.grid {
	background-image:
    repeating-linear-gradient(180deg, transparent,transparent calc(var(--canvas-cell-h) - 1px), #333 calc(var(--canvas-cell-w) - 1px), #333 var(--canvas-cell-w)),
    repeating-linear-gradient( 90deg, transparent,transparent calc(var(--canvas-cell-w) - 1px), #333 calc(var(--canvas-cell-w) - 1px), #333 var(--canvas-cell-w));
  background-position: 1px 1px;
}
.artboard canvas.grid.dashed {
	background-image:
    repeating-linear-gradient(135deg, black, black 1px, transparent 4px),
    repeating-linear-gradient(180deg, transparent,transparent calc(var(--canvas-cell-h) - 1px), #333 calc(var(--canvas-cell-h) - 1px), #333 var(--canvas-cell-h)),
    repeating-linear-gradient( 90deg, transparent,transparent calc(var(--canvas-cell-w) - 1px), #333 calc(var(--canvas-cell-w) - 1px), #333 var(--canvas-cell-w));
  background-position: 1px 1px;
}

.pop {
  opacity: .5;
  transition: opacity .4s;
}
.pop.show {
	color: white;
	top: 40vh;
	left: calc(50vw - 2em);
	width: 4em;
	font-size: 10vh;
	position: absolute;
	font-family: monospace;
	opacity: .9;
	background: black;
	display: inline-block;
	text-align: center;
}

.pop.show.fade {
  animation: 1.6s popin ease;
  animation-fill-mode: forwards;
}

@keyframes popin {
  0%  {  opacity: .9 }
  100% { opacity:  0 }
}




/*zooming*/
.artboard {
  --artboard-w: calc(100vw - 10vw - 10vw);
  --artboard-h: 100vh;

  justify-content: center;
  align-items: center;
}

[data-zoom] .artboard>canvas {
	--canvas-cell-w: calc(var(--zoom, 1) * 1px);
	--canvas-cell-h: calc(var(--zoom, 1) * 1px);

  flex: none;
	width: calc(var(--canvas-cell-w) * var(--cw));
	height: calc(var(--canvas-cell-h) * var(--ch));

  border: medium solid rgba(100,100,100,.5);
  border-width: calc((var(--artboard-h) - 10vmin - var(--canvas-cell-h) * var(--ch)) / 2)
          calc((var(--artboard-w) - 10vmin - var(--canvas-cell-w) * var(--cw)) / 2);
}

[data-zoom="2x"] {
  --zoom: 2;
}
[data-zoom="8x"] {
  --zoom: 8;
}
[data-zoom="16x"] {
  --zoom: 16;
}
[data-zoom="32x"] {
  --zoom: 32;
}


.canvas-overlay {
  display: none;
}

[data-currently="sizing"] .canvas-overlay.sizing {
	display: block;
	width: 80vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 10vw;
}



textarea.dialog {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  border: 10vmin solid rgba(0,0,0,.8);
  width: 100vw;
  height: 100vh;
  background: #306;
  color: white;
  font-weight: bold;
  font-family: monospace;
  font-size: 4vw;
  overflow-y: scroll;
}

textarea.dialog::selection {
  background: black;
}
textarea.dialog::-moz-selection {
  background: black;
}
