@import url(info-overlay.css);
@import url(artboard.css);
@import url(ui.css);

body {
  background: black;
}

canvas {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}



body, main {
  margin: 0;
  padding: 0;

  overflow:  hidden;
}

main {
  width: 100vw;
  height: 100vh;
}



.sizing {
  display: flex;
}
.sizing.x {
  height: 10vmin;
  width: calc(var(--artboard-w) - 10vmin);
  flex: 1;
  justify-content: center;
}
.sizing.y {
  width: 10vmin;
  flex-direction: column;
  justify-content: center;
}
.sizing.corner {
  width: 10vmin;
  height: 10vmin;
}

.artboard button {
  margin: 0;
  padding: 0;
  flex: 1;
  background: none;
  border: none;
  color: white;
  font-size: 4vmin;
}
.artboard button:hover,
.artboard button:active,
.artboard button:focus {
  background: rebeccapurple;
}





.canvas-overlay {
  display: none;
}

/* Show sizing overlay only when resizing */
[data-currently="sizing"] .canvas-overlay.sizing {
	display: flex;
	width: 70vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 15vw;
}

/* Show framestrip overlay only when no other overlays are
active, and only when this is a multi-frame image */
[data-frame]:not([data-currently]) .canvas-overlay.framestrip,
[data-frame][data-currently=""]    .canvas-overlay.framestrip {
	display: flex;
	width: 70vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 15vw;
}



textarea.dialog {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  border: 10vmin solid rgba(0,0,0,.8);
  width: 100vw;
  height: 100vh;
  background: #306;
  color: white;
  font-weight: bold;
  font-family: monospace;
  font-size: .8rem;
  padding: .6rem;
  overflow-y: scroll;
}

textarea.dialog::selection {
  background: black;
}
textarea.dialog::-moz-selection {
  background: black;
}
