.tool-palette,
.color-palette {
  position: absolute;
  top: 0;
  width: 12vmin;
  height: 100vh;

  display: flex;
  flex-direction: column;
}

[data-framestrip="on"] .tool-palette,
[data-framestrip="on"] .color-palette {
  height: 75vh;
}

.tool-palette button,
.color-palette button {
	flex: 1;
	background: transparent;
  padding: 1em 0;
	border: .2rem solid white;
  transition: all .2s ease;

  color: black;
	font-size: 3vw;
	font-weight: bold;
	text-shadow: .075em .075em white, -.075em -.075em white,-.075em .075em white, .075em -.075em white, 0 -.075em white, 0 .075em white, -.075em 0 white, .075em 0 white;
	-webkit-text-stroke: .01em white;
}

.tool-palette button:active,
.color-palette button:active {
  border-color: black;
}

.tool-palette button.current {
  background: #06d;
}
/*
@media (min-aspect-ratio: 4/3) {
  .tool-palette button {
    text-orientation: upright;
    writing-mode: vertical-lr;
    font-size: 3vh;
  }
}
*/



.tool-palette {
  left: 0;
}

.tool-palette button {
	background: #0cf;
	margin-bottom: .2rem;
}
.tool-palette button:active {
  background-color: white;
}

.color-palette {
  right: 0;
  background: green;
}








.tool-palette button {
  flex: 1;
  background: transparent;
  padding: 1em 0;

  display: flex;
  flex-direction: column-reverse;
  align-items: center;

  border: .3rem solid transparent;
  border-radius: 0.8rem;

  transition: all .2s ease;
  color: black;
  font-size: 2.5vw;
  font-weight: bold;
  text-shadow: .075em .075em white, -.075em -.075em white,-.075em .075em white, .075em -.075em white, 0 -.075em white, 0 .075em white, -.075em 0 white, .075em 0 white;
  -webkit-text-stroke: .01em white;
  box-shadow: .2em .3em .6em rgba(200,100,255,.6) inset;
}

@media (min-aspect-ratio: 4/3) {
  .tool-palette button {
    font-size: 2.5vmin;
  }
}


.tool-palette button {
  background: #63f;
  margin-bottom: .6rem;
}

.tool-palette button.current {
  background: #f0b;
}

.tool-palette button:hover,
.tool-palette button:focus,
.tool-palette button:active {
  outline: none;
  border-color: white;
}

.tool-palette button::-moz-focus-inner {
  border-style: none;
}

.tool-palette div {
  flex: 1;
  width: 16vw;
  margin-bottom: .2rem;
  transition: width 1s ease;

  display: none;
  border: .2rem solid transparent;
}


.tool-palette > button.open {
  display: none;
}
.tool-palette > button.open+div {
  display: flex;
  animation: .5s ease 0s 1 forwards open-toolbox;
}

@keyframes open-toolbox {
  0% {
    /*width: 16vw;*/
    margin-left: -100vw;
  }
  100% {
    margin-left: 0;
    width: 88vw;
  }
}

.tool-palette > div > button {
  margin-right: .5rem;
}


/* demo * /
.tool-palette button:first-of-type {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10' fill='white' fill-rule='evenodd'%3E%3Cpath d='M1 0 H9 V10 H1 Z M2 1 H8 V4 H2 Z M3 6 H4 V7 H5 V8 H4 V9 H3 V8 H2 V7 H3 Z M6 7 H7 V8 H6 Z M7 6 H8 V7 H7 Z'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 10vmin;
}
/**/


/* Sizing overlay */
.sizing button {
  border-radius: 50%;
  width: 8vw;
  height: 8vw;

  background: #63f;
  color: white;
  font-weight: bold;
  font-size: 1.5em;

  border: .3rem solid transparent;
  box-shadow: .2em .3em .6em rgba(200,100,255,.6) inset;
}

.sizing button:hover, .sizing button:focus, .sizing button:active {
  border-color: white;
}

/* turn off */
.sizing .corner {
  visibility: hidden;
}
