.tool-palette,
.color-palette {
  position: absolute;
  top: 0;
  width: 12vmin;
  height: 100vh;
}

.tool-palette {
  display: grid;
  grid-gap: .3rem;

  grid-template-columns: 2fr 1fr 20fr;
  grid-template-areas: "btn bigbtn rollout";
  width: 88vw;
}
.tool-palette button {
  grid-column-start: btn;
  grid-column-end: bigbtn;
}

.color-palette {
  display: flex;
  flex-direction: column;
}

[data-framestrip="on"] .tool-palette,
[data-framestrip="on"] .color-palette {
  height: 75vh;
}

.tool-palette button,
.color-palette button {
	flex: 1;
	background: transparent;
  padding: 1em 0;
	border: .2rem solid white;
  transition: all .2s ease;

  color: black;
	font-size: 3vw;
	font-weight: bold;
	text-shadow: .075em .075em white, -.075em -.075em white,-.075em .075em white, .075em -.075em white, 0 -.075em white, 0 .075em white, -.075em 0 white, .075em 0 white;
	-webkit-text-stroke: .01em white;
}

.tool-palette button:active,
.color-palette button:active {
  border-color: black;
}

.tool-palette button.current {
  background: #06d;
}
/*
@media (min-aspect-ratio: 4/3) {
  .tool-palette button {
    text-orientation: upright;
    writing-mode: vertical-lr;
    font-size: 3vh;
  }
}
*/



.tool-palette {
  left: 0;
}

.tool-palette button {
	background: #0cf;
}
.tool-palette button:active {
  background-color: white;
}

.color-palette {
  right: 0;
  background: green;
}








.tool-palette button {
  flex: 1;
  background: transparent;
  padding: 1em 0;

  display: flex;
  flex-direction: column-reverse;
  align-items: center;

  border: .3rem solid transparent;
  border-radius: 0.8rem;

  transition: all .2s ease;
  color: black;
  font-size: 2.5vw;
  font-weight: bold;
  text-shadow: .075em .075em white, -.075em -.075em white,-.075em .075em white, .075em -.075em white, 0 -.075em white, 0 .075em white, -.075em 0 white, .075em 0 white;
  -webkit-text-stroke: .01em white;
  box-shadow: .2em .3em .6em rgba(200,100,255,.6) inset;
}

@media (min-aspect-ratio: 4/3) {
  .tool-palette button {
    font-size: 2.5vmin;
  }
}


.tool-palette button {
  background: #63f;
}

.tool-palette button.current {
  background: #f0b;
}

.tool-palette button:hover,
.tool-palette button:focus,
.tool-palette button:active {
  outline: none;
  border-color: white;
}

.tool-palette button::-moz-focus-inner {
  border-style: none;
}

.tool-palette div {
  grid-area: auto / bigbtn / auto / rollout;
  display: none;
}

/*
.tool-palette > button.open {
  display: none;
}
*/
.tool-palette > button {
  background-position: -12vw;
  transition: background-position .2s ease .2s;
}
.tool-palette > button.open {
  grid-column-end: btn;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 7 10'%3E%3Cpath fill='white' fill-rule='evenodd' d='M5 1h1v1h-1v1h-1v1h-1v2h1v1h1v1h1v1h-2v-1h-1v-1h-1v-1h-1v-2h1v-1h1v-1h1v-1z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
	background-position: center;
	background-size: contain;

  text-indent: -100vw;
}

.tool-palette > button.open+div {
  display: flex;
  animation: .3s ease 0s 1 forwards open-toolbox;
}

@keyframes open-toolbox {
  0% {
    transform: translateX(-100vw);
  }
  100% {
    transform: translateX(0);
  }
}

.tool-palette > button {
  max-width: 12vw
}
.tool-palette > div > button {
  margin-right: .5rem;
}


/* toolbar icons */
.tool-palette div>button[data-action] {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10vmin;
}
button[data-action="file/new"] {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cpath fill='white' fill-rule='evenodd' d='M5 0h1v1h-5v7h3v1h-4v-9h4zM7 7v-1h1v1h1v1h-1v1h-1v-1h-1v-1zM5 5v5h5v-5h-5zM7 3v-1h1v2h-1zM6 2v-1h1v1z'/%3E%3C/svg%3E");
}
button[data-action="file/load"] {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cpath fill='white' fill-rule='evenodd' d='M5 0h1v1h-5v7h3v1h-4v-9h4zM8 5h1v1h-1v1h1v1h1v1h-1v1h-1v-1h-1v-1h-1v1h-1v-4h2zM7 3v-1h1v2h-1zM6 2v-1h1v1z'/%3E%3C/svg%3E")
}
button[data-action="file/save"] {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cpath fill='white' fill-rule='evenodd' d='M5 0h1v1h-5v7h6v-6h1v7h-8v-9h4zM5 4h1v1h-4v-1h2zM2 7v-1h4v1h-3zM4 2h1v1h-3v-1h1zM6 2v-1h1v1z'/%3E%3C/svg%3E")
}
/**/


/* Sizing overlay */
.sizing button {
  border-radius: 50%;
  width: 8vw;
  height: 8vw;

  background: #63f;
  color: white;
  font-weight: bold;
  font-size: 1.5em;

  border: .3rem solid transparent;
  box-shadow: .2em .3em .6em rgba(200,100,255,.6) inset;
}

.sizing button:hover, .sizing button:focus, .sizing button:active {
  border-color: white;
}

/* turn off */
.sizing .corner {
  visibility: hidden;
}



/* Color palette */
.color-palette {
  display: flex;
}

.color-palette button {
  border: none;
  padding: 0;
  cursor: pointer;
}

.color-palette button {
  box-shadow: .3vh .3vh 3vh rgba(255,255,255,.3) inset,
    -.3vh -.3vh 3vh rgba(0,0,0,.3) inset;

  border-top: 0px solid transparent;
  border-bottom: 0px solid transparent;
}

.color-palette button:hover,
.color-palette button.active {
  border-top: 2vh solid transparent;
  border-bottom: 2vh solid transparent;
  box-shadow: none;
  box-sizing: border-box;
}
.color-palette button.active,
.color-palette button.selected {
  outline: 1px solid white;
  z-index: 1;
}



.tool-palette {
  pointer-events: none;
}

.tool-palette button {
  pointer-events: auto;
}
